body{
	background-image: url("perfume1.jpg");
	 background-repeat: no-repeat;
  background-size: 100% 450%;
	 height: 200px;
  width: 50%;
  color:#212F3D  ;
font-size:20px
style="font-family:Calibri"
}